body {
  background-color:  	#1686b1;
}

.font {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 60px;
  letter-spacing: 2.6px;
  word-spacing: 0.2px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  color:  	#ffc50c;
  letter-spacing: .1em;
}

canvas{
 position:absolute;
 top:0;bottom:0;right:0;left:0;
 margin: auto;
}

#score{
  color:#21bdb5;
  text-align: center; 
  font-size: 60px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
