<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Networking project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>

    <div class="login-form">
    <form name = "formIngresar">
        <h2 class="text-center">Iniciar sesión</h2>
        <div class="form-group">
            <input type="email"
                class="form-control"
                id="email"
                name="email"
                ng-model="dataLogin.email"
                required = "true"
                placeholder="email"
                autofocus>  
        </div>

        <div class="form-group">
            <input type="password"
                    class="form-control"
                    id = "password"
                    name="password"
                    ng-model = "dataLogin.password"
                    ng-required = "true"
                    placeholder="Contraseña"
                    required="required">
        </div>
        <div class="form-group">
            <button type="submit"
                    class="btn btn-info btn-lg btn-block" 
                    ng-click = "entrar(formIngresar)">Entrar</button>
        </div>
        <p><a href="#/registrar">¿No tienes una cuenta?</a></p>
    </form>

    </div>
    </body>
</html>
